*{
    box-sizing: border-box;
}
/* html{
    font-size: 62.5%;
} */
h1, h2, h3{
	font-weight: bold;
}
b, strong{
	font-weight: bold;
}
i, em{
	font-style: italic;
}
u{
	text-decoration: underline;
}
input, button, select, textarea{
	font-family: inherit;
	font-size: inherit;
}
ul,ol,li{
	list-style: disc;
}
/* Menu */
.heading{
	background-color: #4169e1;
	width: 100%;
	text-align: center;
}
ul,li{
	list-style: none;
	text-decoration: none;
}
.menu{
	/* display: flex;
	justify-content: space-around; */
	margin: 0;
    padding: 0;
	display: inline-block; 
	font-size: 0rem;
}
.menu li{
	display: inline-block;
	/* vertical-align: bottom; */
	margin: 0;
    padding: 0;
	font-size: 1.6rem;
    border-left: 2px solid rgb(52, 96, 81);
    /* border-right: 2px solid rgb(52, 96, 81); */
}
.menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu li a:hover{
    background-color: white;
    margin-bottom: 0;
    font-weight: bold;
	color: black;
}
.menu li a:active{
    background-color: aquamarine;
}
.menu li:nth-child(2n+1)::before {
    content: none;
  }
.menu li a::before{
    content: "\25B6";
    color: rgb(9, 244, 165);
    margin-right: 6px;
}

/*  Form*/
.box{
	background-color: rgb(58 188 255);
	max-width: 500px; 
    margin: 50px auto; 
    padding: 20px;
    border-radius: 8px;
}
form{
	
	/* text-align: center; */
	padding: 20px;
	/* margin: 0 auto; */
	display: block;
	border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
	font-size: 3rem;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group{
	width: 100%; 
    padding: 10px;
    margin-top: 5px; 
    border: 2px solid #ccc; 
    border-radius: 4px; 
    font-size: 1.6rem;
    box-sizing: border-box;
	margin-bottom: 15px;
}
.form-group span::after{
    content: "*";
    color: red;
}
.btn{
	background-color: #4169e1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.6rem;
    width: 100%; 
}
.avarta-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	/* display: inline-block; */
	cursor: pointer;
	display: block;
    margin: 0 auto;
}
.text-input{
	width: 100%;
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* margin-bottom: 10px; */
}
.text-input:focus{
    background: yellow;
    
}
.text-input:invalid{
    border: 2px solid red;
}

#profilePicture{
	display: none;
}
.form-lable{
    display: block;
}
.btn:hover{
    background-color: grey;
}
.btn:active{
    background-color: rgb(45, 164, 124);
}
/* pricing-table */
.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 50px;
  }
  .plan{
    display: inline-block;
    /* vertical-align: top; */
    width: 300px;
    margin: 10px;
    background: #1a73e8;
    background: radial-gradient( circle 404px at 20.3% 15.9%,  rgba(0,79,255,1) 0%, rgba(0,240,255,1) 90% );
    border: 2px solid #1ca4c6;
    border-radius: 10px;
    padding: 20px;
    font-size: 1rem;
    color: rgb(11, 11, 11); 
}
.plan:hover {
    box-shadow: 5px 10px #888888;
    /* background: #1ef187; */
}
.plan-basic {
    padding: 30px;
}
.plan-pro {
    padding: 30px;
}
.plan-premium {
    padding: 30px;
}
.container .plan:nth-child(2) {
    background: #4b179d;
    background:linear-gradient( 69.2deg,  rgba(77,143,251,1) 35.3%, rgba(202,51,255,1) 100.3% );;
    border-color: gold;
  }
h2 {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 2.2rem;
    color: #edf0f3;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    text-align: left;
  }
  
  li {
    margin-bottom: 8px;
    padding-left: 20px;

  }
  
  li::before {
    content: "✓";
      color: #1ef187;
      margin-right: 8px;
      margin-left: -20px;
      display: inline-block;
  }
  .container .plan:first-child .form-button{
    margin-top: 40px;
  }
  .button {   
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .button:hover {
    background: #0056b3;
  }
