*{
    box-sizing: border-box;
    font-size: 62.5%;
}
h1, h2, h3{
	font-weight: bold;
}
b, strong{
	font-weight: bold;
}
i, em{
	font-style: italic;
}
u{
	text-decoration: underline;
}
input, button, select, textarea{
	font-family: inherit;
	font-size: inherit;
}
ul,ol,li{
	list-style: disc;
}
/* Menu */
.heading{
	background-color: #4169e1;
	width: 100%;
	text-align: center;
}
ul,li{
	list-style: none;
	text-decoration: none;
}
.menu{
	/* display: flex;
	justify-content: space-around; */
	margin: 0;
    padding: 0;
	display: inline-block; 
	font-size: 0;
}
.menu li{
	display: inline-block;
	/* vertical-align: bottom; */
	margin: 0;
    padding: 0;
	font-size: 16px;
    border-left: 2px solid rgb(52, 96, 81);
    /* border-right: 2px solid rgb(52, 96, 81); */
}
.menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu li a:hover{
    background-color: white;
    margin-bottom: 0;
    font-weight: bold;
	color: black;
}
.menu li a:active{
    background-color: aquamarine;
}
.menu li:nth-child(2n+1)::before {
    content: none;
  }
.menu li a::before{
    content: "\25B6";
    color: rgb(9, 244, 165);
    margin-right: 6px;
}

/*  Form*/
.box{
	background-color: rgb(58 188 255);
	max-width: 500px; 
    margin: 50px auto; 
    padding: 20px;
    border-radius: 8px;
}
form{
	
	/* text-align: center; */
	padding: 20px;
	/* margin: 0 auto; */
	display: block;
	border-radius: 8px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
	font-size: 30px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group{
	width: 100%; 
    padding: 10px;
    margin-top: 5px; 
    border: 2px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px;
    box-sizing: border-box;
	margin-bottom: 15px;
}
.btn{
	background-color: #4169e1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; 
}
.avarta-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	/* display: inline-block; */
	cursor: pointer;
	display: block;
    margin: 0 auto;
}
.text-input{
	width: 100%;
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* margin-bottom: 10px; */
}
#profilePicture{
	display: none;
}
.form-lable{
    display: block;
}